@{
	ViewData["Title"] = "Home Page";
}

@model IEnumerable<PFood.Models.FoodVM>

@{
	var bestSelling = ViewBag.BestSelling as PFood.Models.FoodVM;
}

<!-- hero area -->
<div class="hero-area background">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">"Fast - Delicious - Convenient!"</p>
						<h1>Delicious Food</h1>
						<div class="hero-btns">
							<a asp-controller="Food" asp-action="Index" class="boxed-btn">Food Collection</a>
							<a asp-controller="Home" asp-action="Contact" class="bordered-btn">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Free Shipping</h3>
						<p>When order over $75</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>24/7 Support</h3>
						<p>Get support all day</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Refund</h3>
						<p>Get refund within 3 days!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">New</span> Products</h3>
					<p>
						We will make the best product for you
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-3 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a asp-controller="Food" asp-action="Detail" asp-route-id="@item.FoodID"><img src="assets/img/foods/@item.ImageMain" alt=""></a>
						</div>
						<h3>@item.Name</h3>
						<p class="product-price"><span>- $ @item.Discount</span>$ @item.Price</p>
						<a asp-controller="Carts" asp-action="AddToCart"
						  asp-route-FoodID="@item.FoodID" asp-route-name="@item.Name"
						   asp-route-Image="@item.ImageMain" asp-route-Price="@item.Price"
						   class="cart-btn">	 
							<i class="fas fa-shopping-cart"></i> Add to Cart
						</a>
					</div>
				</div>
			}			
		</div>
	</div>
</div>

<!--BestSelling -->
<section class="cart-banner pt-100 pb-100">
	<div class="container">
		<div class="row clearfix">
			@if(bestSelling != null)
			{
				<!--Image Column-->
				<div class="image-column col-lg-6">
					<div class="image">
						<div class="price-box">
							<div class="inner-price">
								<span class="price">
									<strong>-$ @bestSelling.Discount</strong> <br> Discount
								</span>
							</div>
						</div>
						<img src="~/assets/img/foods/@bestSelling.ImageMain" alt="" style="width: 90%">
					</div>
				</div>
				<!--Content Column-->
				<div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
					<h4>@bestSelling.Name</h4>
					<h4 class="fw-bold">$ @bestSelling.Price</h4>
					<div class="text">
						@bestSelling.Description
					</div>
					<!--Countdown Timer-->
					<div class="time-counter">
						<div class="time-countdown clearfix" data-countdown="2020/2/01">
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Days</div>
							</div>
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Hours</div>
							</div>
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Mins</div>
							</div>
							<div class="counter-column">
								<div class="inner"><span class="count">00</span>Secs</div>
							</div>
						</div>
					</div>
					<a asp-controller="Cart" asp-action="AddToCart"
					   asp-route-FoodID="@bestSelling.FoodID" asp-route-name="@bestSelling.Name"
					   asp-route-Image="@bestSelling.ImageMain" asp-route-Price="@bestSelling.Price"
					   class="cart-btn">
						<i class="fas fa-shopping-cart"></i> Add to Cart
					</a>
				</div>
			}
			
		</div>
	</div>
</section>

<div class="abt-section mb-100 mt-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="abt-bg">
					<img class="rounded-2 mt-5" src="~/assets/img/store/food.jpg" style="width: 100%; height: 100%" />
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="abt-text">
					<p class="top-sub">Since Year 2024</p>
					<h2>We are <span class="orange-text">PFood</span></h2>
					<p>
						Our website automates the online sales and management process designed to suit every small and medium-sized store.
						An online fast food store helps people buy their favorite foods and drinks even while sitting at home or work, bringing convenience and ease of access to all client.
					</p>
					<p>
						An online fast food store helps people buy their favorite foods and drinks even while sitting at home or work
						, bringing convenience and ease of access to all client.
					</p>
					<a class="boxed-btn mt-4">know more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end advertisement section -->
