<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>@ViewData["Title"]</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    @* thư viện thông báo *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <style>
        .toast-success {
            background-color: limegreen !important;
            color: #fff !important;
            opacity: 1;
        }

        .toast-error {
            background-color: red !important;
            color: #fff !important;
        }

        .header-icons {
            position: relative;
            display: inline-block;
        }

        .shopping-cart {
            position: relative;
        }

        .cart-count {
            position: absolute;
            top: 10px;
            right: 4px;
            background-color: red;
            color: white;
            border-radius: 50%;
            padding: 2px 6px;
            font-size: 10px;
            font-weight: bold;
            line-height: 1;
        }

    </style>
</head>
<body>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/phucshop.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="Food" asp-action="Index">Food</a>
                                </li>
                                <li><a asp-controller="Home" asp-action="About">About</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

                                <li><a asp-controller="Order" asp-action="Index">Order</a></li>

                                <li>
                                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Page Admin</a>
                                </li>
                                

                                <li>                              
                                    <div class="header-icons">
                                        @if (Context.Session.GetString("JwtToken") != null)
                                        {
                                            <a asp-action="Profile" asp-controller="Account" class="search-bar-icon"><i class="fa-solid fa-user"></i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Login" asp-controller="Account" class="search-bar-icon"><i class="fa-solid fa-user"></i></a>
                                        }

                                        <a asp-controller="Carts" asp-action="Index" class="shopping-cart">
                                            <i class="fas fa-shopping-cart"></i>                                          
                                             <span class="cart-count">
                                                @(Context.Session.GetString("CartCount") ?? "0")
                                             </span>
                                        </a>                                      
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
   
    @RenderBody()

    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Our website sells fast food online to help customers shop more conveniently.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>123 Quang Trung Street, Go Vap Distrist, Ho Chi Minh City</li>
                            <li>support@thanhphuc.com</li>
                            <li>+0898827656</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-controller="Food" asp-action="Index">Shop</a></li>
                            <li><a asp-controller="New" asp-action="Index">News</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Copyrights &copy; 2024 - <a href="">Nguyen Thanh Phuc</a>,  All Rights Reserved.<br>
                        Designed By - <a href="https://themewagon.com/">ThanhPhuc</a>
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="~/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- count down -->
    <script src="~/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "800",
            "timeOut": "2000",
            "extendedTimeOut": "800",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        $(document).ready(function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    toastr.success('@TempData["SuccessMessage"]');
            </text>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                    toastr.error('@TempData["ErrorMessage"]');
            </text>
        }
                                });
    </script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
