
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model PagedResponse<PFood.Models.CouponVM>

<div class="section-body mt-4">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Manager Coupon</h3>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-12">
                        <a asp-action="Create" class="btn btn-primary">
                            <i class="fas fa-plus"></i> Add new Coupon
                        </a>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr style="text-align: center;">
                            <th>ID</th>
                            <th>Coupon Code</th>
                            <th>Discount</th>
                            <th>Expiry Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Data != null)
                        {
                            @foreach (var c in Model.Data)
                            {
                                <tr style="text-align: center;" class="align-middle">
                                    <td>@c.CouponID</td>
                                    <td>@c.CouponCode</td>
                                    <td>@c.Discount</td>
                                    <td>@c.ExpiryDate</td>
                                    <td>@c.Status</td>
                                    <td>
                                        @if (@c.Status != "Used")
                                        {
                                            <a asp-action="Edit" asp-route-id="@c.CouponID" class="btn btn-warning btn-sm">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>
                                        }

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-@c.CouponID">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="deleteModal-@c.CouponID" tabindex="-1" aria-labelledby="deleteModalLabel-@c.CouponID" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-danger text-white">
                                                        <h5 class="modal-title" id="deleteModalLabel-@c.CouponID">Confirm Deletion</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="lead fw-bold">Are you sure you want to delete this Coupon?</p>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-3">
                                                                <strong>Coupon Code:</strong> @c.CouponCode
                                                            </div>
                                                            <div>
                                                                <strong>Discount:</strong> @c.Discount

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a asp-action="Delete" asp-route-id="@c.CouponID" class="btn btn-danger">Confirm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
                <div class="card-body">
                    <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                        <ul class="pagination">
                            @if (Model.TotalPages > 0)
                            {
                                <li class="page-item">
                                    <a href="@Url.Action("Index", new { page = Model.Page - 1, pageSize = Model.PageSize })" class="btn btn-secondary @(Model.Page <= 1 ? "disabled" : "")">Previous</a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item">
                                        <a asp-action="Index" asp-route-page="@i" class="page-link  @(Model.Page ==i ? "bg-primary text-white fw-bold" : "")">@i</a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a href="@Url.Action("Index", new { page = Model.Page + 1, pageSize = Model.PageSize })" class="btn btn-secondary @(Model.Page >= Model.TotalPages ? "disabled" : "")">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


